.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #0b2434;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  height: 80vh;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.title {
  font-size: 52px;
  text-align: center;
  color: #2b283a;
}

.description {
  margin-bottom: 60px;
  width: 625px;
  font-size: 30px;
  text-align: center;
  color: #4A4E74;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.die {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 44px;
  font-weight: 700;
  color: #2b283a;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  width: 223px;
  padding: 15px 25px;
  font-family: 'Karla', sans-serif;
  color: #fff;
  font-size: 36px;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border: none;
  border-radius: 5px;
  outline: none;
  transition: .2s;
  cursor: pointer;
}

.btn:hover {
  background: #351ae7;
}

.btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}